/*
 * styleV033.css
 * Version: 1.0.1
 * Last Updated: 2024-03-21
 * Description: Main stylesheet for OCOSO MVP platform
 */


:root {
  --main-font-family: "Avenir Next", -apple-system, Roboto, Helvetica, sans-serif;
  --space-xxs: var(--px-4);
  --space-xs: var(--px-8);
  --space-s: var(--px-12);
  --space-m: var(--px-16);
  --space-l: var(--px-24);
  --space-xl: var(--px-32);
  --space-xxl: var(--px-48);
  --border-radius-small: var(--px-5);
  --border-radius-medium: var(--px-10);
  --border-radius-large: var(--px-20);
  --border-radius-xlarge: var(--px-30);
  --border-radius-xxlarge: var(--px-40);
  --border-radius-xxxlarge: var(--px-50);
  --border-radius-full: var(--px-9999);


  --px-075: 0.047rem; 
  --px-1: 0.0625rem; 
  --px-2: 0.125rem; 
  --px-3: 0.1875rem; 
  --px-4: 0.25rem; 
  --px-5: 0.3125rem; 
  --px-6: 0.375rem; 
  --px-7: 0.4375rem; 
  --px-8: 0.5rem; 
  --px-10: 0.625rem; 
  --px-11: 0.6875rem; 
  --px-12: 0.75rem; 
  --px-13: 0.8125rem; 
  --px-14: 0.875rem; 
  --px-15: 0.9375rem; 
  --px-16: 1rem; 
  --px-18: 1.125rem; 
  --px-20: 1.25rem; 
  --px-22: 1.375rem; 
  --px-24: 1.5rem; 
  --px-25: 1.5625rem; 
  --px-28: 1.75rem; 
  --px-30: 1.875rem; 
  --px-32: 2rem; 
  --px-35: 2.1875rem; 
  --px-36: 2.25rem; 
  --px-40: 2.5rem; 
  --px-45: 2.8125rem; 
  --px-48: 3rem; 
  --px-50: 3.125rem; 
  --px-60: 3.75rem; 
  --px-61: 3.8125rem; 
  --px-70: 4.375rem; 
  --px-72: 4.5rem; 
  --px-79: 4.9375rem; 
  --px-80: 5rem; 
  --px-83: 5.1875rem; 
  --px-97-74: 6.10875rem; 
  --px-100: 6.25rem; 
  --px-120: 7.5rem; 
  --px-150: 9.375rem; 
  --px-155: 9.688rem; 
  --px-160: 10rem;
  --px-170: 10.625rem; 
  --px-180: 11.25rem; 
  --px-200: 12.5rem; 
  --px-240: 15rem; 
  --px-250: 15.625rem; 
  --px-260: 16.25rem; 
  --px-300: 18.75rem; 
  --px-320: 20rem; 
  --px-350: 21.875rem; 
  --px-370: 23.125rem; 
  --px-400: 25rem; 
  --px-450: 28.125rem; 
  --px-460: 28.75rem; 
  --px-600: 37.5rem;  
  --px-650: 40.625rem; 
  --px-9999: 624.9375rem; 

  /* Viewport-Werte */
  --vw-100: 100vw; /* Viewport width */
  --vh-100: 100vh; /* Viewport height */
  
  --highlight-color: #82d616;
  --offline-color: #adb5bd;

  --color-background-subtle: rgba (255, 255, 0, 1);
  --color-link rgba (255, 255, 0, 1);
  --font-size-body-bold rgba (255, 255, 0, 1);
  --Gray-100 rgba (255, 255, 0, 1);
  --border-radius-m: var(--px-20);
  --color-background-alt rgba (255, 255, 0, 1);
  --color-background-subtle rgba (255, 255, 0, 1);
  --color-border rgba (255, 255, 0, 1);
  --color-border-light rgba (255, 255, 0, 1);
  --color-error rgba (255, 255, 0, 1);
  --color-link rgba (255, 255, 0, 1);
  --color-primary rgba (255, 255, 0, 1);
  --color-primary-dark rgba (255, 255, 0, 1);
  --color-primary-light rgba (255, 255, 0, 1);
  --color-success rgba (255, 255, 0, 1);
  --color-text rgba (255, 255, 0, 1);
  --color-text-inverse rgba (255, 255, 0, 1);
  --color-text-secondary rgba (255, 255, 0, 1);
  --color-text-strong rgba (255, 255, 0, 1);
  --font-size-body: 200rem;
  --font-size-body-bold: 200rem;
  --font-size-small: 200rem;
  --font-size-small:-bold 200rem;
  --font-weight-bold: 200rem;
  --max-width: 2000rem;
  --shadow-sm: 0 var(--px-2) var(--px-5) rgba(0, 0, 0, 0.2);



  
}
