/*
 * styleV033.css
 * Version: 1.0.1
 * Last Updated: 2024-03-21
 * Description: Main stylesheet for OCOSO MVP platform
 */

:root {
  --main-font-family: "Avenir Next", -apple-system, Roboto, Helvetica, sans-serif;
  --space-xxs: var(--px-4);
  --space-xs: var(--px-8);
  --space-s: var(--px-12);
  --space-m: var(--px-16);
  --space-l: var(--px-24);
  --space-xl: var(--px-32);
  --space-xxl: var(--px-48);
  --border-radius-small: var(--px-5);
  --border-radius-medium: var(--px-10);
  --border-radius-large: var(--px-20);
  --border-radius-xlarge: var(--px-30);
  --border-radius-xxlarge: var(--px-40);
  --border-radius-xxxlarge: var(--px-50);
  --border-radius-full: var(--px-9999);

  /* Viewport-Werte */
  --vw-100: 100vw; /* Viewport width */
  --vh-100: 100vh; /* Viewport height */
  
  --highlight-color: #82d616;
  --offline-color: #adb5bd;

  --color-background-subtle: rgba(255, 255, 0, 1);
  --color-link: rgba(255, 255, 0, 1);
  --font-size-body-bold: rgba(255, 255, 0, 1);
  --Gray-100: rgba(255, 255, 0, 1);
  --border-radius-m: var(--px-20);
  --color-background-alt: rgba(255, 255, 0, 1);
  --color-background-subtle: rgba(255, 255, 0, 1);
  --color-border: rgba(255, 255, 0, 1);
  --color-border-light: rgba(255, 255, 0, 1);
  --color-error: rgba(255, 255, 0, 1);
  --color-link: rgba(255, 255, 0, 1);
  --color-primary: rgba(255, 255, 0, 1);
  --color-primary-dark: rgba(255, 255, 0, 1);
  --color-primary-light: rgba(255, 255, 0, 1);
  --color-success: rgba(255, 255, 0, 1);
  --color-text: rgba(255, 255, 0, 1);
  --color-text-inverse: rgba(255, 255, 0, 1);
  --color-text-secondary: rgba(255, 255, 0, 1);
  --color-text-strong: rgba(255, 255, 0, 1);
  --font-size-body: 1.5rem;
  --font-size-body-bold: 1.5rem;
  --font-size-small: 0.875rem;
  --font-size-small-bold: 0.875rem;
  --font-weight-bold: 800;
  --max-width: 2000rem;
  --shadow-sm: 0 var(--px-2) var(--px-5) rgba(0, 0, 0, 0.2);

  /* OCOSO Farben -------------------------------------- */
  --Rot: rgba(226, 45, 54, 1);
  --Gelb: rgba(226, 165, 23, 1);
  --Gruen: rgba(120, 188, 36, 1);
  --Tuerkis: rgba(51, 170, 77, 1);
  --Cyan: rgba(22, 156, 147, 1);
  --Blau: rgba(61, 111, 235, 1);
  --Violett: rgba(143, 51, 255, 1);
  --Pink: rgba(191, 37, 160, 1);
  
  --Rot-Dunkel: rgba(163, 32, 38, 1);
  --Gelb-Dunkel: rgba(145, 111, 29, 1);
  --Gruen-Dunkel: rgba(83, 130, 26, 1);
  --Tuerkis-Dunkel: rgba(26, 128, 47, 1);
  --Cyan-Dunkel: rgba(0, 112, 106, 1);
  --Blau-Dunkel: rgba(35, 78, 179, 1);
  --Violett-Dunkel: rgba(100, 35, 179, 1);
  --Pink-Dunkel: rgba(138, 27, 115, 1);
  
  
  --blue-grey-100: rgba(20, 22, 24, 1);
  --blue-grey-75:  rgba(30, 33, 36, 1);
  --blue-grey-50:  rgba(40, 44, 48, 1);
  --blue-grey-25:  rgba(50, 56, 60, 1);

  --gap: clamp(.75rem,2vw,1.25rem);

  /*  --px-032   : clamp(0.02rem     , calc(0.016rem  + 0.00125vw) , 0.04rem);
  --px-036   : clamp(0.0225rem   , calc(0.018rem  + 0.00141vw) , 0.045rem);
  --px-075   : clamp(0.047rem    , calc(0.0376rem + 0.00294vw) , 0.094rem);

  --px-1     : clamp(0.0625rem   , calc(0.05rem   + 0.00391vw) , 0.125rem);
  --px-2     : clamp(0.125rem    , calc(0.1rem    + 0.00781vw) , 0.25rem);
  --px-3     : clamp(0.1875rem   , calc(0.15rem   + 0.01172vw) , 0.375rem);
  --px-4     : clamp(0.25rem     , calc(0.2rem    + 0.01563vw) , 0.5rem);
  --px-5     : clamp(0.3125rem   , calc(0.25rem   + 0.01953vw) , 0.625rem);
  --px-6     : clamp(0.375rem    , calc(0.3rem    + 0.02344vw) , 0.75rem);
  --px-7     : clamp(0.4375rem   , calc(0.35rem   + 0.02734vw) , 0.875rem);
  --px-8     : clamp(0.5rem      , calc(0.4rem    + 0.03125vw) , 1rem);
  --px-10    : clamp(0.625rem    , calc(0.5rem    + 0.03906vw) , 1.25rem);
  --px-11    : clamp(0.6875rem   , calc(0.55rem   + 0.04297vw) , 1.375rem);
  --px-12    : clamp(0.75rem     , calc(0.6rem    + 0.04688vw) , 1.5rem);
  --px-13    : clamp(0.8125rem   , calc(0.65rem   + 0.05078vw) , 1.625rem);
  --px-14    : clamp(0.875rem    , calc(0.7rem    + 0.05469vw) , 1.75rem);
  --px-15    : clamp(0.9375rem   , calc(0.75rem   + 0.05859vw) , 1.875rem);
  --px-16    : clamp(1rem        , calc(0.8rem    + 0.06250vw) , 2rem);
  --px-18    : clamp(1.125rem    , calc(0.9rem    + 0.07031vw) , 2.25rem);
  --px-20    : clamp(1.25rem     , calc(1rem      + 0.07813vw) , 2.5rem);
  --px-22    : clamp(1.375rem    , calc(1.1rem    + 0.08594vw) , 2.75rem);
  --px-24    : clamp(1.5rem      , calc(1.2rem    + 0.09375vw) , 3rem);
  --px-25    : clamp(1.5625rem   , calc(1.25rem   + 0.09766vw) , 3.125rem);
  --px-28    : clamp(1.75rem     , calc(1.4rem    + 0.10938vw) , 3.5rem);
  --px-30    : clamp(1.875rem    , calc(1.5rem    + 0.11719vw) , 3.75rem);
  --px-32    : clamp(2rem        , calc(1.6rem    + 0.12500vw) , 4rem);
  --px-35    : clamp(2.1875rem   , calc(1.75rem   + 0.13672vw) , 4.375rem);
  --px-36    : clamp(2.25rem     , calc(1.8rem    + 0.14063vw) , 4.5rem);
  --px-40    : clamp(2.5rem      , calc(2rem      + 0.15625vw) , 5rem);
  --px-45    : clamp(2.8125rem   , calc(2.25rem   + 0.17578vw) , 5.625rem);
  --px-48    : clamp(3rem        , calc(2.4rem    + 0.18750vw) , 6rem);
  --px-50    : clamp(3.125rem    , calc(2.5rem    + 0.19531vw) , 6.25rem);
  --px-60    : clamp(3.75rem     , calc(3rem      + 0.23438vw) , 7.5rem);
  --px-61    : clamp(3.8125rem   , calc(3.05rem   + 0.23828vw) , 7.625rem);
  --px-70    : clamp(4.375rem    , calc(3.5rem    + 0.27344vw) , 8.75rem);
  --px-72    : clamp(4.5rem      , calc(3.6rem    + 0.28125vw) , 9rem);
  --px-79    : clamp(4.9375rem   , calc(3.95rem   + 0.30938vw) , 9.875rem);
  --px-80    : clamp(5rem        , calc(4rem      + 0.31250vw) , 10rem);
  --px-83    : clamp(5.1875rem   , calc(4.15rem   + 0.32422vw) , 10.375rem);
  --px-97-74 : clamp(6.10875rem  , calc(4.887rem  + 0.38205vw) , 12.2175rem);
  --px-100   : clamp(6.25rem     , calc(5rem      + 0.39063vw) , 12.5rem);
  --px-120   : clamp(7.5rem      , calc(6rem      + 0.46875vw) , 15rem);
  --px-150   : clamp(9.375rem    , calc(7.5rem    + 0.58594vw) , 18.75rem);
  --px-155   : clamp(9.688rem    , calc(7.75rem   + 0.60547vw) , 19.376rem);
  --px-160   : clamp(10rem       , calc(8rem      + 0.62500vw) , 20rem);
  --px-170   : clamp(10.625rem   , calc(8.5rem    + 0.66406vw) , 21.25rem);
  --px-180   : clamp(11.25rem    , calc(9rem      + 0.70313vw) , 22.5rem);
  --px-200   : clamp(12.5rem     , calc(10rem     + 0.78125vw) , 25rem);
  --px-240   : clamp(15rem       , calc(12rem     + 0.93750vw) , 30rem);
  --px-250   : clamp(15.625rem   , calc(12.5rem   + 0.97656vw) , 31.25rem);
  --px-260   : clamp(16.25rem    , calc(13rem     + 1.01563vw) , 32.5rem);
  --px-300   : clamp(18.75rem    , calc(15rem     + 1.17188vw) , 37.5rem);
  --px-320   : clamp(20rem       , calc(16rem     + 1.25000vw) , 40rem);
  --px-350   : clamp(21.875rem   , calc(17.5rem   + 1.36719vw) , 43.75rem);
  --px-360   : clamp(22.5rem     , calc(18rem     + 1.40625vw) , 45rem);
  --px-370   : clamp(23.125rem   , calc(18.5rem   + 1.44531vw) , 46.25rem);
  --px-400   : clamp(25rem       , calc(20rem     + 1.56250vw) , 50rem);
  --px-450   : clamp(28.125rem   , calc(22.5rem   + 1.75781vw) , 56.25rem);
  --px-460   : clamp(28.75rem    , calc(23rem     + 1.79688vw) , 57.5rem);
  --px-600   : clamp(37.5rem     , calc(30rem     + 2.34375vw) , 75rem);
  --px-650   : clamp(40.625rem   , calc(32.5rem   + 2.53906vw) , 81.25rem);*/
  
--px-032:clamp(0.02rem*var(--slope-factor) , calc((0.01798rem + 0.00063vw)*var(--slope-factor)), 0.03rem*var(--slope-factor));
--px-036:clamp(0.023rem*var(--slope-factor) , calc((0.0206rem + 0.00075vw)*var(--slope-factor)), 0.035rem*var(--slope-factor));
--px-075:clamp(0.047rem*var(--slope-factor) , calc((0.0422rem + 0.0015vw)*var(--slope-factor)), 0.071rem*var(--slope-factor));
--px-1:clamp(0.063rem*var(--slope-factor) , calc((0.0566rem + 0.002vw)*var(--slope-factor)), 0.095rem*var(--slope-factor));
--px-2:clamp(0.125rem*var(--slope-factor) , calc((0.11239rem + 0.00394vw)*var(--slope-factor)), 0.188rem*var(--slope-factor));
--px-3:clamp(0.188rem*var(--slope-factor) , calc((0.16918rem + 0.00588vw)*var(--slope-factor)), 0.282rem*var(--slope-factor));
--px-4:clamp(0.25rem*var(--slope-factor) , calc((0.22501rem + 0.00781vw)*var(--slope-factor)), 0.375rem*var(--slope-factor));
--px-5:clamp(0.313rem*var(--slope-factor) , calc((0.28161rem + 0.00981vw)*var(--slope-factor)), 0.47rem*var(--slope-factor));
--px-6:clamp(0.375rem*var(--slope-factor) , calc((0.3374rem + 0.01175vw)*var(--slope-factor)), 0.563rem*var(--slope-factor));
--px-7:clamp(0.438rem*var(--slope-factor) , calc((0.39419rem + 0.01369vw)*var(--slope-factor)), 0.657rem*var(--slope-factor));
--px-8:clamp(0.5rem*var(--slope-factor) , calc((0.44998rem + 0.01563vw)*var(--slope-factor)), 0.75rem*var(--slope-factor));
--px-10:clamp(0.625rem*var(--slope-factor) , calc((0.56241rem + 0.01956vw)*var(--slope-factor)), 0.938rem*var(--slope-factor));
--px-11:clamp(0.688rem*var(--slope-factor) , calc((0.6192rem + 0.0215vw)*var(--slope-factor)), 1.032rem*var(--slope-factor));
--px-12:clamp(0.75rem*var(--slope-factor) , calc((0.67499rem + 0.02344vw)*var(--slope-factor)), 1.125rem*var(--slope-factor));
--px-13:clamp(0.813rem*var(--slope-factor) , calc((0.73159rem + 0.02544vw)*var(--slope-factor)), 1.22rem*var(--slope-factor));
--px-14:clamp(0.875rem*var(--slope-factor) , calc((0.78738rem + 0.02738vw)*var(--slope-factor)), 1.313rem*var(--slope-factor));
--px-15:clamp(0.938rem*var(--slope-factor) , calc((0.84421rem + 0.02931vw)*var(--slope-factor)), 1.407rem*var(--slope-factor));
--px-16:clamp(1rem*var(--slope-factor) , calc((0.9rem + 0.03125vw)*var(--slope-factor)), 1.5rem*var(--slope-factor));
--px-18:clamp(1.125rem*var(--slope-factor) , calc((1.01239rem + 0.03519vw)*var(--slope-factor)), 1.688rem*var(--slope-factor));
--px-20:clamp(1.25rem*var(--slope-factor) , calc((1.12501rem + 0.03906vw)*var(--slope-factor)), 1.875rem*var(--slope-factor));
--px-22:clamp(1.375rem*var(--slope-factor) , calc((1.2374rem + 0.043vw)*var(--slope-factor)), 2.063rem*var(--slope-factor));
--px-24:clamp(1.5rem*var(--slope-factor) , calc((1.34998rem + 0.04688vw)*var(--slope-factor)), 2.25rem*var(--slope-factor));
--px-25:clamp(1.563rem*var(--slope-factor) , calc((1.40658rem + 0.04888vw)*var(--slope-factor)), 2.345rem*var(--slope-factor));
--px-28:clamp(1.75rem*var(--slope-factor) , calc((1.57499rem + 0.05469vw)*var(--slope-factor)), 2.625rem*var(--slope-factor));
--px-30:clamp(1.875rem*var(--slope-factor) , calc((1.68738rem + 0.05863vw)*var(--slope-factor)), 2.813rem*var(--slope-factor));
--px-32:clamp(2rem*var(--slope-factor) , calc((1.8rem + 0.0625vw)*var(--slope-factor)), 3rem*var(--slope-factor));
--px-35:clamp(2.188rem*var(--slope-factor) , calc((1.96918rem + 0.06838vw)*var(--slope-factor)), 3.282rem*var(--slope-factor));
--px-36:clamp(2.25rem*var(--slope-factor) , calc((2.02501rem + 0.07031vw)*var(--slope-factor)), 3.375rem*var(--slope-factor));
--px-40:clamp(2.5rem*var(--slope-factor) , calc((2.24998rem + 0.07813vw)*var(--slope-factor)), 3.75rem*var(--slope-factor));
--px-45:clamp(2.813rem*var(--slope-factor) , calc((2.53159rem + 0.08794vw)*var(--slope-factor)), 4.22rem*var(--slope-factor));
--px-48:clamp(3rem*var(--slope-factor) , calc((2.7rem + 0.09375vw)*var(--slope-factor)), 4.5rem*var(--slope-factor));
--px-50:clamp(3.125rem*var(--slope-factor) , calc((2.81239rem + 0.09769vw)*var(--slope-factor)), 4.688rem*var(--slope-factor));
--px-60:clamp(3.75rem*var(--slope-factor) , calc((3.37499rem + 0.11719vw)*var(--slope-factor)), 5.625rem*var(--slope-factor));
--px-61:clamp(3.813rem*var(--slope-factor) , calc((3.43159rem + 0.11919vw)*var(--slope-factor)), 5.72rem*var(--slope-factor));
--px-70:clamp(4.375rem*var(--slope-factor) , calc((3.9374rem + 0.13675vw)*var(--slope-factor)), 6.563rem*var(--slope-factor));
--px-72:clamp(4.5rem*var(--slope-factor) , calc((4.04998rem + 0.14063vw)*var(--slope-factor)), 6.75rem*var(--slope-factor));
--px-79:clamp(4.938rem*var(--slope-factor) , calc((4.44421rem + 0.15431vw)*var(--slope-factor)), 7.407rem*var(--slope-factor));
--px-80:clamp(5rem*var(--slope-factor) , calc((4.5rem + 0.15625vw)*var(--slope-factor)), 7.5rem*var(--slope-factor));
--px-83:clamp(5.188rem*var(--slope-factor) , calc((4.66918rem + 0.16213vw)*var(--slope-factor)), 7.782rem*var(--slope-factor));
--px-97-74:clamp(6.10875rem*var(--slope-factor) , calc((5.4979rem + 0.19089vw)*var(--slope-factor)), 9.163rem*var(--slope-factor));
--px-100:clamp(6.25rem*var(--slope-factor) , calc((5.62501rem + 0.19531vw)*var(--slope-factor)), 9.375rem*var(--slope-factor));
--px-120:clamp(7.5rem*var(--slope-factor) , calc((6.74998rem + 0.23438vw)*var(--slope-factor)), 11.25rem*var(--slope-factor));
--px-150:clamp(9.375rem*var(--slope-factor) , calc((8.4374rem + 0.293vw)*var(--slope-factor)), 14.063rem*var(--slope-factor));
--px-155:clamp(9.688rem*var(--slope-factor) , calc((8.7192rem + 0.30275vw)*var(--slope-factor)), 14.532rem*var(--slope-factor));
--px-160:clamp(10rem*var(--slope-factor) , calc((9rem + 0.3125vw)*var(--slope-factor)), 15rem*var(--slope-factor));
--px-170:clamp(10.625rem*var(--slope-factor) , calc((9.56241rem + 0.33206vw)*var(--slope-factor)), 15.938rem*var(--slope-factor));
--px-180:clamp(11.25rem*var(--slope-factor) , calc((10.12501rem + 0.35156vw)*var(--slope-factor)), 16.875rem*var(--slope-factor));
--px-200:clamp(12.5rem*var(--slope-factor) , calc((11.24998rem + 0.39063vw)*var(--slope-factor)), 18.75rem*var(--slope-factor));
--px-240:clamp(15rem*var(--slope-factor) , calc((13.5rem + 0.46875vw)*var(--slope-factor)), 22.5rem*var(--slope-factor));
--px-250:clamp(15.625rem*var(--slope-factor) , calc((14.06241rem + 0.48831vw)*var(--slope-factor)), 23.438rem*var(--slope-factor));
--px-260:clamp(16.25rem*var(--slope-factor) , calc((14.62501rem + 0.50781vw)*var(--slope-factor)), 24.375rem*var(--slope-factor));
--px-300:clamp(18.75rem*var(--slope-factor) , calc((16.87499rem + 0.58594vw)*var(--slope-factor)), 28.125rem*var(--slope-factor));
--px-320:clamp(20rem*var(--slope-factor) , calc((18rem + 0.625vw)*var(--slope-factor)), 30rem*var(--slope-factor));
--px-350:clamp(21.875rem*var(--slope-factor) , calc((19.68738rem + 0.68363vw)*var(--slope-factor)), 32.813rem*var(--slope-factor));
--px-360:clamp(22.5rem*var(--slope-factor) , calc((20.24998rem + 0.70313vw)*var(--slope-factor)), 33.75rem*var(--slope-factor));
--px-370:clamp(23.125rem*var(--slope-factor) , calc((20.81239rem + 0.72269vw)*var(--slope-factor)), 34.688rem*var(--slope-factor));
--px-400:clamp(25rem*var(--slope-factor) , calc((22.5rem + 0.78125vw)*var(--slope-factor)), 37.5rem*var(--slope-factor));
--px-450:clamp(28.125rem*var(--slope-factor) , calc((25.31239rem + 0.87894vw)*var(--slope-factor)), 42.188rem*var(--slope-factor));
--px-460:clamp(28.75rem*var(--slope-factor) , calc((25.87499rem + 0.89844vw)*var(--slope-factor)), 43.125rem*var(--slope-factor));
--px-500:clamp(31.25rem*var(--slope-factor) , calc((28.12501rem + 0.97656vw)*var(--slope-factor)), 46.875rem*var(--slope-factor));
--px-550:clamp(34.375rem*var(--slope-factor) , calc((30.9374rem + 1.07425vw)*var(--slope-factor)), 51.563rem*var(--slope-factor));
--px-600:clamp(37.5rem*var(--slope-factor) , calc((33.74998rem + 1.17188vw)*var(--slope-factor)), 56.25rem*var(--slope-factor));
--px-650:clamp(40.625rem*var(--slope-factor) , calc((36.56241rem + 1.26956vw)*var(--slope-factor)), 60.938rem*var(--slope-factor));
--px-700:clamp(43.75rem*var(--slope-factor) , calc((39.37499rem + 1.36719vw)*var(--slope-factor)), 65.625rem*var(--slope-factor));
--px-750:clamp(46.875rem*var(--slope-factor) , calc((42.18738rem + 1.46488vw)*var(--slope-factor)), 70.313rem*var(--slope-factor));
--px-800:clamp(50rem*var(--slope-factor) , calc((45rem + 1.5625vw)*var(--slope-factor)), 75rem*var(--slope-factor));
--px-850:clamp(53.125rem*var(--slope-factor) , calc((47.81239rem + 1.66019vw)*var(--slope-factor)), 79.688rem*var(--slope-factor));




  /* unbegrenzt groß → bleibt fix */
  --px-9999   : 624.9375rem;
}