<header class="site-header">
  <div class="header-container">
    <a href="index.html"><img
      src="img/Logo-Ocoso_Black_250321.png"
      alt="Site Logo"
      class="site-logo"/></a>
  
    <div class="spacer"></div>
  
    <div class="menu-wrapper">
      <nav class="main-navigation" aria-label="Main navigation">
		  
        <div class="nav-item-wrapper">
          <div data-submenu="submenuCreators" class="nav-item-container">
            <a href="content-creator.html"><button class="nav-button">
              <span class="nav-text">CREATORS!</span>
              <img
                src="img/Arrow-Down.png"
                alt="Dropdown indicator"
                class="dropdown-icon"
              />
            </button></a>
          </div>
			
          <div class="nav-min-width"></div>
			
          <div class="hsub-menu" id="submenuCreators" >
            <ul>
              <li><a href="content-mint.html">Mint</a></li>
              <li><a href="content-provide.html">Provide</a>
        				<ul>
                  <li><a href="content-promote.html">Promote</a></li>
                  <li><a href="content-monetize.html">Monetize</a>
                  <ul>
                    <li><a href="content-marketing.html">Marketing</a></li>
                    <li><a href="content-licencing.html">Licencing</a></li>
                    <li><a href="content-subscribers.html">Subscribers</a></li>              
                  </ul>
                </li>
                <li><a href="content-trade.html">Trade</a></li>
              </ul></li>
              <li><a href="content-insights.html">Insights</a></li>
            </ul>
          </div>
        </div>
		  
        <div class="nav-item-wrapper" >
          <div class="nav-item-container" data-submenu="submenuInvestors">
            <a href="investor.html"><button class="nav-button">
              <span class="nav-text">INVESTORS</span>
              <img
                src="img/Arrow-Down.png"
                alt="Dropdown indicator"
                class="dropdown-icon"
              />
            </button></a>
          </div>
			
          <div class="nav-min-width"></div>
			
          <div class="hsub-menu" id="submenuInvestors" >
            <ul>
              <li><a href="investor-market.html">Market</a>
              <ul>
                <li><a href="investor-market-overview.html">Overview</a></li>
                <li><a href="investor-market-invest.html">Invest & Trade</a></li>
                <li><a href="investor-market-results.html">Your Results</a></li>
              </ul></li>
              <li><a href="investor-trends.html">Trends</a></li>
              <li><a href="investor-partizipation.html">Partizipate</a></li>
            </ul>
          </div>
			
        </div>
        <div class="nav-item-wrapper">
          <div data-submenu="submenuAdvertisers" class="nav-item-container">
            <a href="advertiser.html"><button class="nav-button">
              <span class="nav-text">ADVERTISERS</span>
            </button></a>
          </div>
			
          <div class="nav-min-width"></div>
			
          <!--<div class="hsub-menu" id="submenuAdvertisers" >
          </div>-->
        </div>
        
        <div class="nav-item-wrapper">
          <div data-submenu="submenuUsers" class="nav-item-container">
            <a href="user.html"><button class="nav-button">
              <span class="nav-text">USERS</span>
            </button></a>
          </div>
          <div class="nav-min-width"></div>
			
          <!--<div class="hsub-menu" id="submenuUsers" >
          </div>-->			
			
        </div>
      </nav>
    </div>
	  
    <div class="wallet-button-wrapper">
      <button class="wallet-button" aria-label="Connect wallet">
        <span class="wallet-button-text">CONNECT WALLET!</span>
      </button>
    </div>
  </div>
</header>
