:root {
  --dark: rgba(37, 47, 64, 1);
  --primary: rgba(203, 12, 159, 1);
  --secondary: rgba(131, 146, 171, 1);
  --info: rgba(23, 193, 232, 1);
  --success: rgba(130, 214, 22, 1);
  --danger: rgba(234, 6, 6, 1);
  --warning: rgba(251, 207, 51, 1);
  --white: rgba(255, 255, 255, 1);
  --light: rgba(233, 236, 239, 1);
  --gray-100: rgba(248, 249, 250, 1);
  --gray-200: rgba(233, 236, 239, 1);
  --gray-300: rgba(222, 226, 230, 1);
  --gray-400: rgba(206, 212, 218, 1);
  --gray-500: rgba(173, 181, 189, 1);
  --gray-600: rgba(108, 117, 125, 1);
  --gray-700: rgba(73, 80, 87, 1);
  --gray-800: rgba(52, 58, 64, 1);
  --gray-900: rgba(33, 37, 41, 1);
  --graygray-400: rgba(160, 174, 192, 1);
  --blackampwhitewhite: rgba(255, 255, 255, 1);
  --h1-font-family: "Avenir Next", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 60px;
  --h1-letter-spacing: 1.2px;
  --h1-line-height: 125%;
  --h1-font-style: normal;
  --h-2-font-family: "Avenir Next", Helvetica;
  --h-2-font-weight: 400;
  --h-2-font-size: 36px;
  --h-2-letter-spacing: 0.72px;
  --h-2-line-height: 100%;
  --h-2-font-style: normal;
  --h-3-font-family: "Avenir Next", Helvetica;
  --h-3-font-weight: 400;
  --h-3-font-size: 30px;
  --h-3-letter-spacing: 0.6px;
  --h-3-line-height: 137.00000047683716%;
  --h-3-font-style: normal;
  --h-4-font-family: "Avenir Next", Helvetica;
  --h-4-font-weight: 400;
  --h-4-font-size: 24px;
  --h-4-letter-spacing: 0.48px;
  --h-4-line-height: 137.00000047683716%;
  --h-4-font-style: normal;
  --h-5-font-family: "Avenir Next", Helvetica;
  --h-5-font-weight: 400;
  --h-5-font-size: 20px;
  --h-5-letter-spacing: 0.2px;
  --h-5-line-height: 100%;
  --h-5-font-style: normal;
  --h-6-font-family: "Avenir Next", Helvetica;
  --h-6-font-weight: 400;
  --h-6-font-size: 16px;
  --h-6-letter-spacing: 0.16px;
  --h-6-line-height: 110.00000238418579%;
  --h-6-font-style: normal;
  --large-font-family: "Avenir Next", Helvetica;
  --large-font-weight: 400;
  --large-font-size: 18px;
  --large-letter-spacing: 0px;
  --large-line-height: 139.9999976158142%;
  --large-font-style: normal;
  --large-bold-font-family: "Avenir Next", Helvetica;
  --large-bold-font-weight: 700;
  --large-bold-font-size: 18px;
  --large-bold-letter-spacing: 0.36px;
  --large-bold-line-height: 139.9999976158142%;
  --large-bold-font-style: normal;
  --body-font-family: "Avenir Next", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 120.00000476837158%;
  --body-font-style: normal;
  --body-bold-font-family: "Avenir Next", Helvetica;
  --body-bold-font-weight: 700;
  --body-bold-font-size: 16px;
  --body-bold-letter-spacing: 0.32px;
  --body-bold-line-height: 129.99999523162842%;
  --body-bold-font-style: normal;
  --small-font-family: "Avenir Next", Helvetica;
  --small-font-weight: 400;
  --small-font-size: 14px;
  --small-letter-spacing: 0px;
  --small-line-height: 150%;
  --small-font-style: normal;
  --small-bold-font-family: "Avenir Next", Helvetica;
  --small-bold-font-weight: 700;
  --small-bold-font-size: 14px;
  --small-bold-letter-spacing: 0px;
  --small-bold-line-height: 150%;
  --small-bold-font-style: normal;
  --xs-font-family: "Avenir Next", Helvetica;
  --xs-font-weight: 400;
  --xs-font-size: 12px;
  --xs-letter-spacing: 0px;
  --xs-line-height: 125%;
  --xs-font-style: normal;
  --xs-bold-font-family: "Avenir Next", Helvetica;
  --xs-bold-font-weight: 700;
  --xs-bold-font-size: 12px;
  --xs-bold-letter-spacing: 0px;
  --xs-bold-line-height: 16px;
  --xs-bold-font-style: normal;
  --xxs-font-family: "Avenir Next", Helvetica;
  --xxs-font-weight: 700;
  --xxs-font-size: 10px;
  --xxs-letter-spacing: 0px;
  --xxs-line-height: 150%;
  --xxs-font-style: normal;
  --XS-CAPS-font-family: "Avenir Next", Helvetica;
  --XS-CAPS-font-weight: 700;
  --XS-CAPS-font-size: 12px;
  --XS-CAPS-letter-spacing: 0px;
  --XS-CAPS-line-height: 16px;
  --XS-CAPS-font-style: normal;
  --shadow-cards: 0px 7px 23px 0px rgba(0, 0, 0, 0.05);
  --with-blur: 0px 12px 16px -4px rgba(12, 26, 36, 0.2);
  --blur-blog-strip: 0px 4px 6px -2px rgba(30, 41, 59, 0.1), 0px 12px 16px -4px
    rgba(30, 41, 59, 0.04);
  --system-colors-grays-black: rgba(0, 0, 0, 1);
  --system-colors-grays-gray-6: rgba(242, 242, 247, 1);
  --responsive-device-width: 1200px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-system-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-system-colors-mode="light"] {
  --system-colors-grays-gray-6: rgba(242, 242, 247, 1);
}

[data-system-colors-mode="dark"] {
  --system-colors-grays-gray-6: rgba(28, 28, 30, 1);
}

[data-system-colors-mode="dark-elevated"] {
  --system-colors-grays-gray-6: rgba(28, 28, 30, 1);
}

[data-system-colors-mode="IC-light"] {
  --system-colors-grays-gray-6: rgba(242, 242, 246, 1);
}

[data-system-colors-mode="IC-dark"] {
  --system-colors-grays-gray-6: rgba(0, 0, 0, 1);
}

[data-system-colors-mode="IC-dark-elevated"] {
  --system-colors-grays-gray-6: rgba(0, 0, 0, 1);
}

[data-responsive-mode="desktop"] {
  --responsive-device-width: 1200px;
}

[data-responsive-mode="mobile"] {
  --responsive-device-width: 375px;
}

[data-responsive-mode="tablet"] {
  --responsive-device-width: 768px;
}