        <nav>
            <div class="sidebar-logo">OC-NETWORK</div>
            <div class="nav-group">
                <h5>Overview</h5>
                <ul>
                    <li class="nav-item active"><a href="index-csv.html">Start</a></li>
                </ul>
            </div>
            <div class="nav-group">
                <h5>Advertisement</h5>
                <ul>
                    <li class="nav-item active"><a href="#" data-source="data-display.json">Ads / Display</a></li>
                    <li class="nav-item"><a href="#" data-source="data-performance.json">Ads / Performance</a></li>
                </ul>
            </div>
            <div class="nav-group">
                <h5>Content</h5>
                <ul>
                    <li class="nav-item"><a href="#" data-source="data-promotions.json">Content Promotions</a></li>
                    <li class="nav-item"><a href="#" data-source="data-cooperations.json">Content Cooperations</a></li>
                </ul>
            </div>
             <div class="nav-group">
                <h5>Performance</h5>
                <ul>
                    <li class="nav-item"><a href="#" data-source="data-network-performance.json">OC Network Performance</a></li>
                    <li class="nav-item"><a href="#" data-source="data-geo-performance.json">Geo Performance</a></li>
                </ul>
            </div>
             <div class="nav-group">
                <h5>Licensing</h5>
                <ul>
                    <li class="nav-item"><a href="#" data-source="data-ai-licensing.json">AI Licensing</a></li>
                    <li class="nav-item"><a href="#" data-source="data-content-licensing.json">Content Licensing</a></li>
                </ul>
            </div>
             <div class="nav-group">
                <h5>General</h5>
                <ul>
                    <li class="nav-item"><a href="#" data-source="data-subscriptions.json">Subscriptions</a></li>
                    <li class="nav-item"><a href="#" data-source="data-investors.json">Investors</a></li>
                    <li class="nav-item"><a href="#" data-source="data-benchmarking.json">Gamification / Benchmarking</a></li>
                </ul>
            </div>
        </nav>